<!DOCTYPE html>
<html>
  <head>
    <title>FiveStars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.googleAPIKey = "<%=Rails.application.credentials.google[:api_key]%>"
    </script>
    <meta property="og:title" content="RideAlong">
    <meta property="og:image" content="<%=File.join(Rails.root, "/app/assets/images/project_pic.png")%>">
    <meta 
      property="og:description" 
      content="FiveStars is a website that is a clone of Yelp. FiveStars is built with Ruby on Rails
      and React/Redux.">
    <meta property="og:url" content="https://fivestars-app.herokuapp.com/">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
